textarea {
    border: 1px solid #e1e8ed;
    padding: .5rem;
    width: 100%;
    resize: vertical;
    overflow: auto;
}

label {
    word-break: keep-all;
    display: inline-block;
    margin-bottom: .5rem;
}

address, dl, ol, ul {
    margin-bottom: 1rem;
}

.svg-inline--fa {
    vertical-align: 0;
}

.button svg {
    height: .85rem;
    fill: currentColor;
}