.category {
  background-color: var(--light-article-background-color, var(--article-background-color, #fff));
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: .9rem;
  margin: 0 0 1em;
  padding: .2rem .5rem;
  position: relative;
}

.theseed-dark-mode .category {
  background-color: var(--dark-article-background-color, var(--article-background-color, #1c1d1f));
  border-color: #555;
}

.category-folded {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.category span {
  margin: 0 .1rem 0 0;
}

.category span:after {
  content: ":";
}

.category ul {
  margin: 0;
  padding: 0;
}

.category ul, .category li {
  display: inline;
}

.category li:after {
  border-left: 1px solid #888;
  content: "";
  display: inline-block;
  height: .8rem;
  margin: 0 .4rem -.1rem;
}

.category .not-exist {
  color: red !important;
}

.category li:last-child:after {
  display: none;
}

.category .curtain {
  background: linear-gradient(90deg, transparent, var(--light-article-background-color, var(--article-background-color, #fff)), var(--light-article-background-color, var(--article-background-color, #fff)));
  height: 100%;
  padding: 0 0 0 5rem;
  position: absolute;
  right: 0;
  top: 0;
}

.theseed-dark-mode .category  .curtain {
  background: linear-gradient(90deg,transparent,var(--dark-article-background-color, var(--article-background-color, #1c1d1f)), var(--dark-article-background-color, var(--article-background-color, #1c1d1f)));
}

.category .curtain-button {
  display: inline-block;
  font-size: .7rem;
  margin: .25rem .5rem 0 0;
  padding: .05rem .25rem !important;
}

.category .blur {
  filter: blur(3px);
}

.category .blur:hover {
  filter: inherit;
}