.popper {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
  max-width: 50%;
  padding: 15px;
  position: absolute;
  word-break: break-all;
  z-index: 1;
}

.theseed-dark-mode .popper {
  background: #383b40;
  box-shadow: 0 0 2px hsla(0,0%,100%,.5);
}

.popper .popper__arrow {
  border-color: #ddd;
  border-style: solid;
  height: 0;
  margin: 5px;
  position: absolute;
  width: 0;
}

.theseed-dark-mode .popper .popper__arrow {
  border-color: #ccc;
}

.popper[x-placement^=top] {
  margin-bottom: 5px;
}

.popper[x-placement^=top] .popper__arrow {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-width: 5px 5px 0;
  bottom: -5px;
  left: calc(50% - 10px);
  margin-bottom: 0;
  margin-top: 0;
}

.popper[x-placement^=bottom] {
  margin-top: 5px
}

.popper[x-placement^=bottom] .popper__arrow {
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-width: 0 5px 5px;
  left: calc(50% - 10px);
  margin-bottom: 0;
  margin-top: 0;
  top: -5px;
}

.popper[x-placement^=right] {
  margin-left: 5px
}

.popper[x-placement^=right] .popper__arrow {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-width: 5px 5px 5px 0;
  left: -5px;
  margin-left: 0;
  margin-right: 0;
  top: calc(50% - 10px);
}

.popper[x-placement^=left] {
  margin-right: 5px;
}

.popper[x-placement^=left] .popper__arrow {
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-width: 5px 0 5px 5px;
  margin-left: 0;
  margin-right: 0;
  right: -5px;
  top: calc(50% - 10px);
}

:deep(.thetree-modal-container) {
  padding-top: 10rem;
}

:deep(.thetree-modal-container):focus {
  outline: 0 !important;
}

.thetree-modal-content .wiki-content {
  padding: 1rem;
}

.thetree-modal-content button {
  background-color: #fafafa;
  border: 0;
  border-top: 1px solid #eee;
  color: inherit;
  cursor: pointer;
  font-size: 12px !important;
  font: inherit;
  margin: 2px 0 0;
  outline: none;
  padding: 10px;
  width: 100%;
}

.theseed-dark-mode .thetree-modal-content button {
  background-color: #383b40;
  border-top: 1px solid #111;
}

.user-box {
   border-width: 5px 1px 1px;
   border-style: solid;
   border-image: initial;
   padding: 10px;
   margin-bottom: 10px;
 }

.admin-box {
  border-color: orange gray gray;
}

.banned-box {
  border-color: red gray gray;
}