.wiki-content {
    overflow: hidden;
}

.wiki-thread-content .wiki-paragraph:last-of-type {
    margin-bottom: 0;
}

.wiki-content {
    .wiki-paragraph {
        margin-bottom: 1rem;
    }

    .wiki-list li .wiki-paragraph {
        margin-bottom: 0;
    }

    strong {
        font-weight: 700;
    }

    .disable-boldstrong {
        font-weight: inherit;
        text-decoration: none;
    }

    .hide-boldstrong {
        visibility: hidden;
    }

    em {
        font-style: italic;
    }

    code {
        background-color: transparent;
        border: none;
        border-radius: 0;
        padding: 2px;
    }

    del {
        color: gray;
    }

    del:hover {
        text-decoration: none;
    }

    .disable-strikedel {
        color: inherit;
        text-decoration: none;
    }

    .hide-strikedel {
        visibility: hidden;
    }

    sup, sub {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {
        top: -.5em;
    }

    sub {
        bottom: -.25em;
    }

    .wiki-size-up-1 {
        font-size: 1.2888888889em;
    }

    .wiki-size-up-2 {
        font-size: 1.3888888889em;
    }

    .wiki-size-up-3 {
        font-size: 1.4814444444em;
    }

    .wiki-size-up-4 {
        font-size: 1.574em;
    }

    .wiki-size-up-5 {
        font-size: 1.6666666667em;
    }

    .wiki-size-down-1 {
        font-size: .9258888889em;
    }

    .wiki-size-down-2 {
        font-size: .8333333333em;
    }

    .wiki-size-down-3 {
        font-size: .7406666667em;
    }

    .wiki-size-down-4 {
        font-size: .6481111111em;
    }

    .wiki-size-down-5 {
        font-size: .6222222222em;
    }

    pre {
        background-color: #eee;
        border: 1px solid #ddd;
        border-radius: 3px;
        overflow-x: auto;
        padding: 7px;
    }

    pre code {
        background: none;
        border: none;
        padding: 0;
    }

    .not-exist {
        color: red;
    }

    .wiki-image-align,
    .wiki-image-align-bottom,
    .wiki-image-align-center,
    .wiki-image-align-left,
    .wiki-image-align-middle,
    .wiki-image-align-normal,
    .wiki-image-align-right,
    .wiki-image-align-top {
        display: inline-block;
        font-size: 0;
        max-width: 100%;
        vertical-align: middle;
    }

    .wiki-image-align-bottom {
        vertical-align: bottom;
    }

    .wiki-image-align-center {
        display: block;
        text-align: center;
    }

    .wiki-image-align-left {
        float: left;
    }

    .wiki-image-align-middle {
        display: block;
        text-align: center;
    }

    .wiki-image-align-right {
        float: right;
    }

    .wiki-image-align-top {
        vertical-align: top;
    }

    .wiki-image-wrapper {
        display: inline-block;
        font-size: 0;
        max-width: 100%;
        overflow: hidden;
        position: relative;
    }

    img {
        display: inline-block;
        max-width: 100%;
    }

    .wiki-image {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .wiki-image-info {
        background: none;
        border: none;
        color: #ec9f19;
        display: none;
        font-size: 1.1rem;
        outline: none;
        position: absolute;
        right: 6px;
        top: 0;
    }

    .wiki-image-info:before {
        content: "";
        display: inline-block;
        font-family: "Ionicons" !important;
    }

    .wiki-image-info:hover:before {
        content: "";
    }

    .wiki-image-wrapper:hover .wiki-image-info {
        display: block;
    }

    .wiki-theme-dark {
        display: none;
    }

    .wiki-self-link {
        font-weight: 700;
    }

    .wiki-link-external, .wiki-link-whitelisted {
        color: #090 !important;
    }

    .wiki-link-external:before {
        background: green;
        color: #fff;
        content: "";
        font-family: "Ionicons" !important;
        font-size: .9rem !important;
        margin-right: .1rem;
        padding: 0 .15em;
        position: relative;
    }

    .wiki-media {
        display: block;
        max-width: 100%;
    }

    lite-youtube.wiki-media {
        display: table-cell;
    }

    .wiki-media-wrapper {
        display: table;
    }

    video {
        max-width: 100%;
    }

    .wiki-heading {
        cursor: pointer;
    }

    h1.wiki-heading {
        font-size: 2em;
    }

    h2.wiki-heading {
        font-size: 1.8em;
    }

    h3.wiki-heading {
        font-size: 1.6em;
    }

    h4.wiki-heading {
        font-size: 1.4em;
    }

    h5.wiki-heading {
        font-size: 1.2em;
    }

    h6.wiki-heading {
        font-size: 1em;
    }

    h1.wiki-heading,
    h2.wiki-heading,
    h3.wiki-heading,
    h4.wiki-heading,
    h5.wiki-heading,
    h6.wiki-heading {
        border-bottom: 1px solid #ccc;
        margin: 1.2em 0 .8em;
        padding-bottom: 5px;
    }

    .wiki-heading:before {
        color: #666;
        content: "";
        float: left;
        font-family: "Ionicons";
        font-size: .8em;
        font-weight: 400;
        line-height: 1.8em;
        margin: 0 .5rem 0 .2rem;
        text-align: center;
        width: .9em;
    }

    .wiki-heading.wiki-heading-folded {
        opacity: .5;
    }

    .wiki-heading.wiki-heading-folded:before {
        content: "";
    }

    .wiki-heading-content.wiki-heading-content-folded {
        display: none;
    }

    .wiki-edit-section {
        float: right;
        font-size: .8rem;
    }

    hr {
        border: 0;
        border-top: .0625rem solid #ccc;
        box-sizing: content-box;
        height: 0;
        margin: .5em 0;
    }

    .wiki-indent {
        padding-left: 10px;
    }

    .wiki-quote .wiki-indent {
        padding-left: 0;
    }

    .wiki-list {
        padding-left: .5rem;
        margin: .4em 0 .4em 1.5em;
    }

    .wiki-list li {
        list-style: inherit !important;
        margin: .4em 0;
    }

    .wiki-list-alpha {
        list-style: lower-alpha;
    }

    .wiki-list-upper-alpha {
        list-style: upper-alpha;
    }

    .wiki-list-roman {
        list-style: lower-roman;
    }

    .wiki-list-upper-roman {
        list-style: upper-roman;
    }

    .wiki-quote {
        background: #eee;
        border: 2px dashed #ccc;
        border-left: 5px solid #71bc6d;
        display: table;
        margin: 1em 0;
        padding: 1em;
    }

    .wiki-quote .wiki-paragraph {
        margin-bottom: 0;
    }

    .wiki-table-wrap {
        display: block;
        margin: 10px 0;
        max-width: 100%;
        overflow-x: auto;
    }

    .wiki-table {
        background-color: #f5f5f5;
        border-collapse: collapse;
    }

    .nowrap-wiki-table.wiki-table {
        white-space: nowrap;
    }

    .wiki-table td {
        border: 1px solid #ddd;
        padding: 5px 10px;
    }

    .wiki-table td .wiki-paragraph {
        margin-bottom: 0;
    }

    .wiki-table-wrap.table-center {
        margin: 10px auto;
    }

    .table-center .wiki-table {
        margin: auto;
    }

    .wiki-table-wrap.table-right {
        float: right;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .wiki-table td.wiki-table-nopadding {
        padding: 0;
    }

    .wiki-table .wiki-table-keepall {
        word-break: keep-all;
    }

    dl.wiki-folding {
        margin: 0;
    }

    dl.wiki-folding dt {
        cursor: pointer;
        font-weight: 700;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    dl.wiki-folding dd {
        margin: 0;
        max-height: 0;
        max-width: 0;
        overflow: hidden;
    }

    .wiki-folding dd.wiki-folding-opened {
        max-height: none;
        max-width: none;
    }

    .wiki-folding dd.wiki-folding-close-anim {
        transition: all .15s ease-out;
    }

    .wiki-folding dd.wiki-folding-open-anim {
        opacity: 1;
        transition: all .15s ease-in;
    }

    .wiki-clearfix {
        clear: both;
    }

    .wiki-macro-toc {
        border: 1px solid #ccc;
        display: inline-block;
        margin-left: 5px;
        padding: 12px 20px 18px 0;
    }

    .wiki-macro-toc:before {
        content: "목차";
        font-size: 1.25em;
        margin-left: 14px;
    }

    .wiki-macro-toc>.toc-indent:first-of-type {
        margin-top: 12px;
    }

    .toc-item {
        display: block;
    }

    .toc-indent {
        padding-left: 20px;
    }

    .wiki-fn-content {
        font-size: .8em;
        vertical-align: super;
        white-space: nowrap;
    }

    .wiki-macro-footnote {
        border-top: 1px solid #777;
        margin: 1.5em 0;
        padding: .5em 0;
    }

    .footnote-list {
        display: block;
        line-height: 1.75;
        margin-bottom: .5em;
        word-break: break-all;
    }

    .wiki-media {
        display: block;
        max-width: 100%;
    }

    .wiki-macro-vote {
        all: revert;
    }

    .wiki-macro-vote legend {
        all: revert;
    }
}

.theseed-dark-mode .wiki-content {
    pre {
        background-color: #2d2f34;
        border-color: #383b40;
        color: #ddd;
    }

    .not-exist {
        color: #dc4343 !important;
    }

    .wiki-theme-dark {
        display: inline-block;
    }

    .wiki-theme-light {
        display: none;
    }

    h1.wiki-heading,
    h2.wiki-heading,
    h3.wiki-heading,
    h4.wiki-heading,
    h5.wiki-heading,
    h6.wiki-heading {
        border-bottom-color: #383b40;
    }

    hr {
        border-top-color: #383b40;
    }

    .wiki-quote {
        background-color: #2d2f34;
        border-color: #383b40 #383b40 #383b40 #666c75;
        color: #ddd;
    }

    .wiki-table {
        background-color: #2d2f34;
    }

    .wiki-table td {
        border: 1px solid #383b40;
    }

    .wiki-macro-toc {
        border-color: #383b40;
    }
}