.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 28rem;
}

.form--large {
    max-width: 40rem;
}

.form--full {
    max-width: none;
}

.form__row {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 0 0 1rem;
}

.form__row:last-child {
    margin: 0;
}

.form__row--self-center {
    align-self: center;
    width: auto;
}

.form__row--center {
    align-items: center;
}

.form__row--between {
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

@media screen and (max-width: 727.98px) {
    .form__row--between {
        align-items:stretch;
        flex-direction: column;
        justify-content: normal;
    }
}

.form__row--gap {
    margin: 1rem 0;
}

.form__row--links {
    align-items: flex-start;
}

.form__row--buttons {
    padding: 1rem 0 0;
}

.form__row--block-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 4rem 0 0;
}

@media screen and (max-width: 727.98px) {
    .form__row--block-buttons {
        margin: 3rem 0 1rem;
    }
}

.form--row-bordered .form__row {
    border: solid #c9c9c9;
    border-width: 1px 0 0;
    margin: 1rem 0 0;
    padding: 1rem 0 0;
}

:global(.theseed-dark-mode) .form--row-bordered .form__row {
    border-color: #1b1b1b;
}

.form--row-bordered .form__row:first-child {
    border-width: 0;
    margin: 0;
    padding: 0;
}

.form--row-bordered .form__row label {
    font-weight: 600;
}

.form--row-bordered .form__row--buttons {
    padding: 2rem 0 0;
}

.form__row-inner {
    align-items: center;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    display: flex;
}

.form__section-title {
    font-size: 1.25rem;
    font-weight: 400;
}

.form__icon-row {
    color: var(--text-secondary-color, rgba(33,37,41,.749));
    margin: 4rem 0 2rem;
    text-align: center;
}

.form__icon-row svg {
    fill: currentColor;
    max-width: 5rem;
}

.form__buttons {
    align-items: center;
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
}

.icon {
    height: .85rem;
    fill: currentColor;
}

.text {
    margin: 0;
}

.text--help {
    color: #757575;
    font-size: .9rem;
}

:global(.theseed-dark-mode) .text--help {
    color: #454545;
}

.text--error {
    color: #b50909;
}

:global(.theseed-dark-mode) .text--error {
    color: #8b0a03;
}

.list {
    margin: 0;
}

ol.list {
    list-style: decimal inside;
    margin: 1rem 0;
    padding: 0;
}

.text+.list {
    margin: .25rem 0 0;
}

.link {
    border-radius: 2px;
    --light-focus-outline-color: var(--brand-bright-color-2, #e3e3e3);
    --dark-focus-outline-color: #454545;
    --focus-outline-color: var(--light-focus-outline-color);
    --focus-box-shadow-style: var(--focus-outline-color) 0 0 0 0.2rem;
}

.link:focus-visible {
    box-shadow: var(--focus-box-shadow-style);
    transition: box-shadow .1s linear;
}

:global(.theseed-dark-mode) .link:focus-visible {
    --focus-outline-color: var(--dark-focus-outline-color);
}

.button {
    min-width: 4rem;
}

.block-button {
    align-items: stretch;
    gap: .75rem;
    justify-content: flex-start;
    padding: .75rem;
}

.block-button__icon {
    height: 1.75rem;
    padding: .25rem;
    width: 1.75rem;
}

.block-button__icon svg {
    height: 100%;
    width: 100%;
}

.block-button__content {
    flex: 1;
    width: 0;
}

.block-button__description {
    font-size: .8rem;
    white-space: normal;
}

.block-button__chevron {
    align-items: center;
    display: flex;
    margin: 0 .25rem 0 0;
    width: .65rem;
}

.block-button__chevron svg {
    height: auto;
    width: auto;
}