.table {
    display: flex;
    flex-direction: column;
}

.table--bordered {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

:global(.theseed-dark-mode) .table--bordered {
    border-color: #575757;
}

.row {
    border-bottom: 1px solid #e0e0e0;
    display: flex;;
}

:global(.theseed-dark-mode) .row {
    border-bottom-color: #575757;
}

.row:not(.row--head):hover {
    background-color: #fbfbfb;
}

:global(.theseed-dark-mode) .row:not(.row--head):hover {
    background-color: #2a2a2a;
}

.row--head {
    border-bottom-width: 2px;
    font-weight: 600;
}

@media screen and (max-width: 1023.98px) {
    .row--head {
        display: none !important;
    }

    .row--head+.row {
        border-top: 1px solid #e0e0e0;
    }
}

@media screen and (max-width: 1023.98px) {
    :global(.theseed-dark-mode) .row--head+.row {
        border-top-color: #575757;
    }
}

@media screen and (max-width: 1023.98px) {
    .table--bordered .row--head+.row {
        border-top-width: 0;
    }
}

.table--bordered .row:last-child {
    border-bottom-width: 0;
}

.column {
    padding: .5rem .75rem;
    width: 100%;
}

.column--stack {
    display: flex;
    flex-direction: column;
}

.column--button-parent {
    align-items: center;
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
}

@media screen and (max-width: 1023.98px) {
    .column--button-parent {
        align-items: flex-start;
    }
}

.column--single {
    color: #888;
    grid-column: 1/4;
    text-align: center;
}

.column--full {
    grid-column: 1/5;
}

.column+.column--full {
    color: #777;
    font-size: .9rem;
    margin: -.25rem 0 0;
    padding: 0 .75rem .5rem 1.5rem;
}

:global(.theseed-dark-mode) .column+.column--full {
    color: #bbb;
}